@model Business.DataTransferObjects.ProductDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Waterproof" /> @Html.DisplayNameFor(model => model.Waterproof)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailCount" class="control-label"></label>
                <input asp-for="AvailCount" class="form-control" />
                <span asp-validation-for="AvailCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechanismId" class="control-label"></label>
                <select class="form-control" name="MechanismId">
                    @foreach (var c in ViewBag.Mechanisms)
                    {
                        @if (c.Id == Model.MechanismId)
                        {
                            <option value="@c.Id" selected>@c.Name</option>
                        }
                        else
                        {
                            <option value="@c.Id">@c.Name</option>
                        }

                    }
                </select>
                <span asp-validation-for="MechanismId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select class="form-control" name="GenderId">
                    @foreach (var c in ViewBag.Genders)
                    {
                        @if (c.Id == Model.GenderId)
                        {
                            <option value="@c.Id" selected>@c.Name</option>
                        }
                        else
                        {
                            <option value="@c.Id">@c.Name</option>
                        }

                    }
                </select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select class="form-control" name="BrandId">
                    @foreach (var c in ViewBag.Brands)
                    {
                        @if (c.Id == Model.BrandId)
                        {
                            <option value="@c.Id" selected>@c.Name</option>
                        }
                        else
                        {
                            <option value="@c.Id">@c.Name</option>
                        }

                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
